:root {
    --body-bg-1: #45D0FF;
    --body-bg-2: #FF67E3;
    --body-text: black;
    --body-text-shadow: rgba(0, 17, 116, 0.527);
    --shadow: rgba(92, 87, 199, 0.5);
    --category-color-primary: #D462C3;
    --category-color-1: #FE987E;
    --category-color-2: #EC4DE0;
    --category-icon-text: white;
    --category-icon-text-hover: #234280;
    --question-bg-icon: rgba(0, 17, 116, 0.114);
    --close-modal-text: rgb(133, 140, 165);
    --close-modal-text-hover: rgb(58, 63, 79);
    --timer-text: rgb(255, 255, 255);
    --timer-shadow: rgba(0, 17, 116, 0.219);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-size: 62.5%;
    font-family: "Nunito", sans-serif;
}

body {
  position: relative;
  background: linear-gradient(
      135deg,
      var(--body-bg-1),
      var(--body-bg-2)
      );
      background-attachment: fixed;
      font-size: 1.6rem;
      color: var(--body-text);
}

#app {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2 {
    font-size: 1.8em;
    color: white;
    text-align: center;
    font-weight: 800;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #8dc6e4;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6498b4;
}

/* Dialog modal */

#dialog {
    margin: auto;
    border: none;
    border-radius: 5px;
    height: 60vh;
    width: 100%;
    max-width: 60vw;
}

#dialogContent {
    width: 100%;
    height: 100%;
    padding: 3rem;
    overflow: auto;
}

#dialog h2 {
    color: #834E85;
    text-shadow: none;
}

::backdrop {
    opacity: 1;
    background-color: rgb(0, 0, 0, 0.3);
}

#closeModalButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border: none;
    background: none;
    font-size: 1.5rem;
    color: var(--close-modal-text);
    transition: all .4s;

    &:hover {
      cursor: pointer;
      color: var(--close-modal-text-hover);
    }
}


/* Buttons */

.button {
    width: 100%;
    margin-inline: auto;
    padding: 1rem;
    padding-left: 1.4rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1 / -1;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all .4s;
    outline: 3px solid transparent;

    .icon {
        font-size: 2.5rem;
    }

    &:hover {
        cursor: pointer;
        outline-color: var(--category-color-2);
        transform: scale(1.1);
    }
}

.button:has(.icon) {
    justify-content: space-between;
}

.button.button--dark {
    color: white;
    background: rgba(107, 49, 135, 0.605);

    &:hover {
        outline-color: white;
    }
}

/* Category colors */

.category-music {
    --category-color-1: #FE987E;
    --category-color-2: #EC4DE0;
}

.category-movies {
    --category-color-1: #6B79FF;
    --category-color-2: #D61BFF;
}

.category-literature {
    --category-color-1: #FFB832;
    --category-color-2: #FF5E5D;
}

.category-geography {
    --category-color-1: #05BCEF;
    --category-color-2: #2EE657;
}

.category-history {
    --category-color-1: #07C1DA;
    --category-color-2: #295DED;
}

.category-languages {
    --category-color-1: #48E6E4;
    --category-color-2: #E74EEA;
}

/* Waves */

.waves {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-image:
    url("../img/wave-pink.svg"),
    url("../img/wave-pink.svg"),
    url("../img/wave-pink.svg");
    background-repeat: repeat-x;
    background-size: 1600px 50%;
    background-position: 0 130%, -50px 130%, 500px 130%;
    background-attachment: fixed;
    animation: 20s waves linear infinite forwards;
    opacity: .5;
}

@keyframes waves {
    to { background-position: 1600px 130%, 3150px 130%, 5300px 130% }
}

.fadeIn { animation: 2s fade ease-out forwards }
.fadeOut { animation: 2s fade forwards reverse }

@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}