.result-list {
    height: 20rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.result-list__item {
    padding: 1rem 8rem;
    background-color: rgb(219, 216, 216);
}

.result-button,
.restart-button {
    padding: 1rem 3rem;
}