.result-list {
    height: 20rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    visibility: hidden;
}

.result-list__item {
    padding: 1rem 8rem;
    background-color: rgb(219, 216, 216);
}

.button-container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 20rem;
}