/* --------------------------------- */
/* END PAGE */
/* --------------------------------- */

.end-page {
  display: grid;
}

.end-page__title {
  display: none;
}

.bottom-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.end-page__results {
  display: none;
}

/*  Result */

.result-title {
  margin-bottom: 0.4rem;
  text-shadow: 1px 1px 2px var(--body-text-shadow);
}

.result-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 20rem;
  height: 30vh;
  width: 40rem;
  overflow: auto;
  padding: 1rem;
}

#dialog .result-list {
  height: auto;
  width: auto;
  overflow: visible;
}

.result-item {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0 1.2rem;
  background: linear-gradient(to right, #2e84ee, #05bcef);
  color: white;
  border-radius: 13px;
  transition: box-shadow 0.4s;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 6px white;
  }
}

.result-item--wrong {
  background: linear-gradient(to right, #ed5276, #ff58d8);
}

.result-item--wrong .result-item__question-number {
  color: #f34b72;
  background-color: #f6d0d8;
}

.result-item--wrong .underline {
  text-decoration-color: #e696a8;
}

.result-item__question-number {
  background-color: #d4ebff;
  color: #4659b6;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-item__answer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.result-item__correct-answer {
  font-size: 1.6rem;
}

.result-item__selected-answer {
  font-weight: 600;
  font-size: 1.2rem;
  font-style: italic;
}

.result-item__icon {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.result-item__question-text {
  display: none;
  flex: 1 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.3rem;
  text-align: left;
  background: rgba(255, 255, 255, 0.151);
  border: 1px solid rgba(255, 255, 255, 0.194);
  border-radius: 10px;
}

.result-item__icon {
  margin-right: 0.5rem;
  font-size: 2rem;
}
.result-item__arrow {
  margin-right: 0.5rem;
  font-size: 2rem;
  height: 2rem;
  width: 2rem;
}

/* Highscore */

.highscore-highlights {
  width: 100%;
  max-width: 30rem;
  margin-inline: auto;
  display: none;
  flex-direction: column;
  gap: 0.5rem;
}

#app {
  .highscore {
    color: #0077aa;
    gap: 0.7rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    background: rgba(255, 255, 255, 0.646);
  }

  .highscore__date {
    color: #60abd9;
    font-size: 1.2rem;
  }

  .highscore__time {
    display: none;
  }

  .highscore__icon {
    padding: 0.7rem;
  }

  .highscore__icon .icon {
    font-size: 1.2rem;
  }
}

.highscore__highlight {
  background: white !important;
  outline: 2px solid rgb(155, 87, 150);
}

/* Points */

.points {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.points__amount {
  flex: 1 100%;
  line-height: 1;
  font-size: 3.2em;
  font-weight: 900;
  background: linear-gradient(#ffbc5a, #f33591);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(0 2px 1px var(--body-text-shadow)) drop-shadow(0 0 2px white)
    drop-shadow(-2px 0 2px white) drop-shadow(2px 0 2px white) drop-shadow(0 0 20px white);
}

.points__highscore-marker {
  margin-left: 1rem;
  width: 4rem;
  height: 4rem;
  top: -1.5rem;
  right: -2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  background: linear-gradient(rgb(182, 78, 196), rgb(120, 85, 247));
}

.points__highscore-marker .icon {
  background: white;
}

.points__unit {
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 4px var(--body-text-shadow);
}

.score {
  padding: 1rem 3rem;
  background: white;
  border-radius: 100px;
  color: #0077aa;
  font-weight: 800;
  margin-bottom: 1.5rem;
}

/* Buttons */

.result-button {
  background: rgba(62, 109, 146, 0.432);
  border: 2px solid rgba(255, 255, 255, 0.447);
  color: white;
  outline: 1px solid transparent;

  &:hover {
    border-color: white;
    outline: 1px solid white;
  }
}

.result-button .icon {
  font-size: 2rem;
  background: white;
}

.restart-button .icon {
  font-size: 2.5rem;
  background: linear-gradient(var(--category-color-1), var(--category-color-2));
}
