h1 {
    font-size: 7rem;
    color: white;
    text-shadow: 2px 2px 4px var(--body-text-shadow);
}

h2 {
    margin-top: 5rem;
    margin-bottom: 15px;
    font-size: 1.8em;
    color: #000;
    text-shadow: 1px 1px 2px #ddd;
}

/* Highscore */
.highscore-container {
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #d3d3d3;
    border-radius: 5px;
}

.highscore {
    display: flex;
    justify-content: space-between;
}

.categories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    max-width: 26em;
    margin-inline: auto;
    gap: 1rem;
}

.category-button {
    padding: 2rem;
    font-family: inherit;
    font-size: 1.3rem;
    font-weight: 650;
    color: var(--category-icon-text);
    border: none;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    outline: 3px solid transparent;
    transition: all .3s;

    &:hover {
        transform: scale(1.1);
        outline-color: var(--category-color-2);
        box-shadow: 0 10px 20px 3px rgba(28, 10, 101, 0.308);
    }
}

.category-icon {
    background: linear-gradient(
        var(--category-color-1),
        var(--category-color-2)
    );
    font-size: 4rem;
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}

.categories-mixed-button {
    width: fit-content;
    margin-inline: auto;
    margin-top: 1.5rem;
    padding: 1rem;
    padding-left: 1.4rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    grid-column: 1 / -1;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    transition: all .4s;

    &:hover {
        background: red;
        transform: scale(1.1) translate(1rem, -1rem);
    }
}

.categories-mixed-button__text {
    /* margin-left: auto; */
}

.categories-mixed-button .icon {
    /* margin-left: auto; */
    background: linear-gradient(
        var(--category-color-1),
        var(--category-color-2)
        );
    font-size: 3rem;
}

.category-music {
    --category-color-1: #FE987E;
    --category-color-2: #EC4DE0;
}

.category-history {
    --category-color-1: #FE987E;
    --category-color-2: #EC4DE0;
}
